<app-header>
  <app-logout></app-logout>
</app-header>

<div class="container mx-auto px-4">
  <div *ngIf="category$ | async as category" class="text-center my-8">
    <h1 class="text-4xl font-bold">{{ category }}</h1>
  </div>

  <div *ngIf="data$ | async as data">
    <h2 class="text-2xl font-semibold mb-4">Hold</h2>

    <div *ngIf="data.technologies['HOLD'].length <= 0">
      <p>No Technologies</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let technology of data.technologies['HOLD']">
        <app-technology [isAdmin]="data.isAdmin" [technologyId]="technology.id"></app-technology>
      </div>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Assess</h2>

    <div *ngIf="data.technologies['ASSESS'].length <= 0">
      <p>No Technologies</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let technology of data.technologies['ASSESS']">
        <app-technology [isAdmin]="data.isAdmin" [technologyId]="technology.id"></app-technology>
      </div>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Trial</h2>

    <div *ngIf="data.technologies['TRIAL'].length <= 0">
      <p>No Technologies</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let technology of data.technologies['TRIAL']">
        <app-technology [isAdmin]="data.isAdmin" [technologyId]="technology.id"></app-technology>
      </div>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Adopt</h2>

    <div *ngIf="data.technologies['ADOPT'].length <= 0">
      <p>No Technologies</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let technology of data.technologies['ADOPT']">
        <app-technology [isAdmin]="data.isAdmin" [technologyId]="technology.id"></app-technology>
      </div>
    </div>

    <div *ngIf="data.isAdmin">
      <h2 class="text-2xl font-semibold mb-4">Drafted</h2>

    <div *ngIf="data.technologies['drafted'].length <= 0">
      <p>No Technologies</p>
    </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div *ngFor="let technology of data.technologies['drafted']">
          <app-technology [isAdmin]="data.isAdmin" [technologyId]="technology.id"></app-technology>
        </div>
      </div>
    </div>
  </div>
</div>
